pre, code {
  font-family: "JetBrains Mono", "Fira Code", "Hack", "Consolas", "Courier New", monospace !important;
  font-size: 0.95em;
  line-height: 1.5;
  white-space: pre-wrap; /* keep spacing */
}
